<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="home" asp-action="index">Duty Scheduler</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="home" asp-action="index">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="home" asp-action="calendar">Calendar</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            CRUD
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="duty" asp-action="index">Duties</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="project" asp-action="index">Projects</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="employee" asp-action="index">Employees</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="team" asp-action="index">Teams</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Administration</a>
                    </li>
                </ul>
                <form class="d-flex" role="sign-in">
                    <button class="btn btn-outline-success" type="submit">
                        <img src="~/lib/bootstrap-icons/icons/person.svg" >
                        Sign In
                    </button>
                </form>
            </div>
        </div>
    </nav>
</header>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
<footer>
    <div>

    </div>
</footer>
</html>
